@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200;300;400;500;600;700;800&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Stick No Bills", sans-serif;
  font-family: "Tajawal", sans-serif;
  font-size: 62.5%;
}

body {
  background-color: rgba(0, 0, 0);
  box-sizing: border-box;
  color: #fff;
  font-weight: bold;
}

.container {
  height: 100vh;
  margin: auto;
  /* background-color: #fff; */
  width: 75%;
  display: flex;
}

.hero {
  height: auto;
}

h1 {
  padding-top: 16rem;
  font-size: 15rem;
}

a {
  text-decoration: none;
  color: rgb(255, 0, 0);
}
.header a {
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  position: fixed;
  top: 8rem;
  right: 8rem;
}

.home-word {
  color: red;
  position: relative;
  right: -15rem;
  transition: right 1s ease;
  font-size: 2.5rem;

}

.words {
  margin-top: 20rem;
  height: 70vh;
  /* background-color: rgb(78, 78, 78); */
}

.words p {
  font-size: 10rem;
  font-weight: 900;
}

.contact-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  width: 60%;
}

h2 {
  font-size: 5rem;
  margin-bottom: 5rem;
}

.description {
  width: 70rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.description p {
  margin-bottom: 5rem;
  font-size: 2.5rem;

}
.heading {
  position: relative;
  right: 130rem;
  transition: right 2s ease;
}

.contact-section__end {
  opacity: 0;
  color: red;
  text-decoration: none;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 3rem;
}
.contact-section__end p,
.contact-section__end a {
  margin-bottom: 1rem;
  font-size: 2rem;
}


.contact-section__end p {
  width: 25rem;
}

hr {
  position: relative;
  top: 3rem;
  width: 0;
  transition: width 2s ease;
}

.vertical-line {
  transform: rotate(90deg);
}


.margin {
  min-height: 5rem;
  background-color: black;
}