@import url("https://fonts.googleapis.com/css2?family=Stick+No+Bills:wght@200;300;400;500;600;700;800&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Stick No Bills", sans-serif;
  font-family: "Tajawal", sans-serif;
  font-size: 62.5%;
}

body {
  background-color: rgb(0, 0, 0);
  /* opacity: 0.7; */
  box-sizing: border-box;
  color: #fff;
}

.container {
  margin: auto;
  height: auto;
  width: 65%;
  display: flex;
}

.html-css-js {
  margin-top: 10rem;
}

.heading {
  position: relative;
  left: -120rem;
  margin-bottom: 20rem;
  transition: left 2s ease;
}
.hero {
  height: 15vh;
}

.header {
  height: 10rem;
  background-color: #fff;
  height: 100vh;
}

.header a {
  position: fixed;
  top: 8rem;
  right: 8rem;
  font-size: 2.5rem;
  font-weight: bolder;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: background-color 0.2s;
}

.home-word {
  color: red;
  position: relative;
  right: -15rem;
  transition: all 0.5s;
  font-size: 2.5rem;

}

.projects {
  position: absolute;
  height: auto;
  width: 100%;
  font-size: 10rem;
  margin-bottom: 5rem;
}

.works {
  display: flex;
  flex-direction: column;
  height: auto;
  margin-bottom: 8rem;
}

.work-link:nth-child(5) {
  padding-bottom: 10rem;
}

h2 {
  font-size: 9rem;
  width: 100%;
}

p {
  width: 100%;
  font-size: 2rem;
  font-weight: bold;
  align-items: justify;
}

.work-link {
  width: 50%;
  text-decoration: none;
  color: white;
  margin-bottom: 7rem;
  transition: all 1s;
}

.work-link:hover {
  color: red;
}

.work-link p {
  color: rgb(248, 0, 0);
}

.left-side {
  margin-bottom: 5rem;
  width: 100%;
}

.work {
  height: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease;
  /* padding-top: 200px; */
}

.detailed-info {
  font-size: 2rem;
  font-weight: normal;
  width: 50%;
  margin-left: 10rem;
}

.work-title {
  font-size: 4rem;
}

.footer {
  opacity: 0;
  margin-bottom: 4rem;
}

.hidden {
  opacity: 0;
}

.react-projects {
  margin-bottom: 10rem;
}

#react-heading {
  opacity: 0;
  /* transition: opacity 3s ease; */
}

p.footer--text {
  color: rgb(255, 0, 0);
  font-size: 8rem;
}

.git-hub__repository a {
  width: 100%;
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
  text-align: center;
}

.git-hub__repository a:hover {
  color: rgb(255, 0, 0);
}

hr {
  position: relative;
  top: 3rem;
  width: 0;
  transition: width 2s ease;
}

.vertical-line {
  transform: rotate(90deg);
}

.footer-hr {
  top: -5rem;
  width: 70vw;
  margin: auto;
}
